In [1]:
%load_ext autoreload
%autoreload 2
# You can load your python module as this:
import Project

C:\Users\xande\Documents\KU\4. semester\Programmering\Untitled Folder\projects-2019-anaconda-bois\dataproject\Project.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  Endnu_pænere['Forskel i %']=Endnu_pænere.apply(f, axis=1)

In [4]:
Project.Endnu_pænere.head()

            År  Disp. indkomst mænd  Disp. indkomst kvinder  Forskel i %
OMRÅDE
Aabenraa  1987                23086                   23205     0.515464
Aabenraa  1988                23190                   23438     1.069426
Aabenraa  1989                23348                   23555     0.886586
Aabenraa  1990                23418                   23664     1.050474
Aabenraa  1991                23529                   23735     0.875515

In [2]:
dataproject.example.hello_world()

'hello world'